@model RPGStarter.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.damage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.damage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.armorValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.armorValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.itemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
