@model IEnumerable<RPGStarter.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.damage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.armorValue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.armorValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.itemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
