@model IEnumerable<RPGStarter.Models.World>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.roomName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eventID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eventID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.worldID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.worldID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.worldID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
