@model RPGStarter.Models.Jobs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobStr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobStr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobCon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobCon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobInt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobInt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobDex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobDex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobHealth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobHealth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobLuck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobLuck)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.jobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
