@model IEnumerable<RPGStarter.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.jobName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobStr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobCon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobInt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobDex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobHealth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobLuck)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobCon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobInt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobDex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobLuck)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.jobID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.jobID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.jobID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
